@extends(layouts/auth)

@section(form)

<header class="al-login-header" slot="header">
    <h1>Forgot Password</h1>
</header>

<form action="/auth/login/reset" method="POST">

    <div class="al-login-username">
        <label for="Input_username">Username</label>
        <input type="text" class="al-login-input" name="username" id="Input_username" required>
    </div>

    <div class="al-login-submit">
        <button type="submit" class="button expanded">Reset Password</button>
    </div>

    <div class="al-login-links button-group">
        <a href="/" class="button link">Back to Site</a>
        <a href="/auth/login" class="button link">Back to Login</a>
    </div>
</form>

@endsection