@extends(layouts/cms)

@section(content)

<transition name="app-loaded" mode="out-in">
	<div v-if="loaded" class="al-app-loaded" key="app-loaded">
		<layout-header logo="{{data.logo}}"></layout-header>

		<div class="al-layout__main">

			<layout-sidebar></layout-sidebar>

			<router-view></router-view>

		</div>
	</div>

	<!-- Loading screen -->
	<div v-else class="al-loading-screen" key="app-loading">

		<div class="al-loading-screen-icon">
			<div class="al-loader"><div class="al-loader-object"></div></div>

			<p>{{data.randomQuote}}</p>
		</div>

	</div>
</transition>

@endsection