.modal-mask { position: fixed; z-index: 9998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: table; -webkit-transition: opacity .3s ease; transition: opacity .3s ease; }

.modal-wrapper { display: table-cell; vertical-align: top; padding: 30px; }

.modal-container { max-width: 600px; width: 100%; margin: 0px auto; background-color: #fff; border-radius: 3px; box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2); -webkit-transition: all .3s ease; transition: all .3s ease; }

.modal-header { padding: 15px; border-bottom: 1px solid lightgray; }

.modal-header h3 { margin: 0; }

.modal-header .ashlee-icon { position: relative; top: 5px; }

.modal-header .ashlee-icon svg { width: 36px; height: 36px; }

.modal-container.alert .modal-header { border-left: 10px solid #cc4b37; border-bottom: 0; background-color: rgba(204, 75, 55, 0.2); }

.modal-container.alert .modal-header .ashlee-icon svg { fill: #cc4b37; }

.modal-container.alert .modal-header h3 { color: #cc4b37; }

.modal-container.success .modal-header { border-left: 10px solid #3adb76; border-bottom: 0; background-color: rgba(58, 219, 118, 0.2); }

.modal-container.success .modal-header .ashlee-icon svg { fill: #3adb76; }

.modal-container.success .modal-header h3 { color: #3adb76; }

.modal-body { padding: 15px; margin: 15px 0; }

.modal-footer { padding: 15px; }

.modal-footer .button-group { margin: 0; }

.modal-enter { opacity: 0; }

.modal-leave-active { opacity: 0; }

.modal-enter .modal-container, .modal-leave-active .modal-container { -webkit-transform: scale(1.1); transform: scale(1.1); }

.snackbar-wrapper { position: fixed; bottom: -10px; left: 0; right: 0; width: 100%; -webkit-transition: all .3s ease; transition: all .3s ease; }

.snackbar-container { margin: 0 auto; border-radius: 3px; height: 70px; width: 100%; max-width: 600px; background: rgba(0, 0, 0, 0.8); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); padding: 15px; }

.snackbar-message { color: #fefefe; font-size: 16px; }

.snackbar-message .ashlee-icon { position: relative; top: 5px; }

.snackbar-container.success .snackbar-message { color: #3adb76; }

.snackbar-container.success .snackbar-message svg { fill: #3adb76; }

.snackbar-container.warning .snackbar-message { color: #ffae00; }

.snackbar-container.warning .snackbar-message svg { fill: #ffae00; }

.snackbar-container.alert .snackbar-message { color: #cc4b37; }

.snackbar-container.alert .snackbar-message svg { fill: #cc4b37; }

.snackbar-enter { -webkit-transform: translateY(70px); transform: translateY(70px); }

.snackbar-leave-active { -webkit-transform: translateY(70px); transform: translateY(70px); }

.snackbar-enter .snackbar-container, .snackbar-leave-active .snackbar-container { -webkit-transform: translateY(0px); transform: translateY(0px); }

.ashlee-icon { display: inline-block; }

.ashlee-icon svg { width: 24px; height: 24px; display: block; }

.button { box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); text-transform: uppercase; }

.button.has-icon { position: relative; padding-left: 40px; }

.button.has-icon .ashlee-icon { -webkit-transition: all 500ms; transition: all 500ms; position: absolute; left: 10px; top: calc(50% - 10px); }

.button.has-icon .ashlee-icon svg { width: 20px; height: 20px; fill: #fefefe; }

.button.has-icon.primary .ashlee-icon svg { fill: #fefefe; }

.button.has-icon.secondary .ashlee-icon svg { fill: #fefefe; }

.button.has-icon.success .ashlee-icon svg { fill: #0a0a0a; }

.button.has-icon.loader .ashlee-icon { -webkit-animation: loaderWait 600ms infinite alternate; animation: loaderWait 600ms infinite alternate; }

.button.has-icon.loader.loading .ashlee-icon { -webkit-animation: loading 400ms linear infinite; animation: loading 400ms linear infinite; }

.button.has-icon[disabled].loader .ashlee-icon { -webkit-animation: none; animation: none; }

.ashlee-icon.loading { -webkit-animation: loading 400ms linear infinite; animation: loading 400ms linear infinite; }

.loading-icon { text-align: center; }

@-webkit-keyframes loading { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes loading { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-webkit-keyframes loaderWait { 0% { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.4); transform: scale(1.4); } }

@keyframes loaderWait { 0% { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.4); transform: scale(1.4); } }

.ashlee-table { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.ashlee-table .ashlee-tr { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-line-pack: stretch; align-content: stretch; }

.ashlee-table .ashlee-thead, .ashlee-table .ashlee-tbody, .ashlee-table .ashlee.tfoot { display: block; }

.ashlee-table .ashlee-th, .ashlee-table .ashlee-td { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; padding: 8px 10px; }

.ashlee-table .ashlee-tbody .ashlee-tr { border-bottom: 1px solid #efefef; }

.ashlee-table .ashlee-thead .ashlee-tr { border-bottom: 3px solid #272727; }

.ashlee-table .ashlee-th[data-col="bulk"], .ashlee-table .ashlee-td[data-col="bulk"], .ashlee-table .ashlee-th[data-col="opts"], .ashlee-table .ashlee-td[data-col="opts"] { -ms-flex-preferred-size: 100px; flex-basis: 100px; }

.ashlee-table input { margin: 0; }

.ashlee-table .callout { padding: 10px; margin: 0; }

.ashlee-app-header { background: #C94343; }

.ashlee-layout { background: #F5F5F5; display: -webkit-box; display: -ms-flexbox; display: flex; }

.ashlee-layout-sidebar { background: #4D4D4D; height: calc(100vh - 70px); -ms-flex-preferred-size: 240px; flex-basis: 240px; }

.ashlee-layout-sidebar-header { padding: 15px 0px; background: #342F2F; }

.ashlee-layout-body { width: 100%; }

.ashlee-layout-page-container { padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow-y: scroll; height: calc(100vh - 140px); }

.ashlee-layout-page { padding: 15px; z-index: 1; }

.ashlee-layout-header { background: white; padding: 18px 15px; z-index: 2; border-bottom: 1px solid #cacaca; }

.ashlee-page-title-icon { display: inline-block; }

.ashlee-page-title h2 { display: inline-block; margin: 0; font-size: 1.5em; }

.card-shadow { background: white; border-radius: 3px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

.ashlee-header { height: 70px; }

.ashlee-nav-link { position: relative; padding: 2px 10px; display: block; width: 100%; color: #8d8d8d; }

.ashlee-nav-link:hover { color: white; }

.ashlee-nav-link:hover .ashlee-icon svg { fill: white; }

.ashlee-nav-link .ashlee-icon { display: inline-block; position: relative; top: 3px; margin-right: 5px; }

.ashlee-nav-link .ashlee-icon svg { fill: #9a9a9a; height: 20px; width: 20px; }

.ashlee-nav-link.selected { color: white; background: gray; }

.ashlee-nav-link.selected .ashlee-icon svg { fill: white; }

.ashlee-nav-link.selected:after { content: ""; z-index: 5; right: -10px; top: 5px; position: absolute; display: block; width: 20px; height: 20px; border-radius: 50%; background: gray; }

.ashlee-nav-group { border-bottom: 1px solid #676767; }

.ashlee-nav-group-title { color: #95989A; font-size: 14px; text-transform: uppercase; padding: 10px 10px 5px; margin: 0; }
