.al-loader {
  margin: auto;
  display: block;
  width: 50px;
}

.al-loader .al-loader-object {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: relative;
  margin: auto;
}

.al-loader .al-loader-object:before, .al-loader .al-loader-object:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.al-loader .al-loader-object,
.al-loader .al-loader-object:before,
.al-loader .al-loader-object:after {
  -webkit-animation: 1200ms infinite ease-in-out;
          animation: 1200ms infinite ease-in-out;
}

.al-loader .al-loader-object {
  background-color: transparent;
  -webkit-animation: cssload-flower-fan 600ms infinite linear;
          animation: cssload-flower-fan 600ms infinite linear;
}

.al-loader .al-loader-object:before {
  width: 80%;
  height: 80%;
  background-color: transparent;
  top: 10%;
  left: 10%;
  box-shadow: 5px -3px 0 rgba(255, 100, 100, 0.7), 5px 5px 0 rgba(100, 255, 100, 0.7), -3px 5px 0 rgba(100, 100, 255, 0.7), -5px -5px 0 rgba(240, 240, 120, 0.7);
}

.al-loader .al-loader-object:after {
  border: 3px solid transparent;
  z-index: 2;
  top: -3px;
  left: -3px;
}

@-webkit-keyframes cssload-flower-fan {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes cssload-flower-fan {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.button {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.button.success,
.button.success:hover,
.button.success:focus {
  color: #fefefe;
}

.button.success .al-icon svg,
.button.success:hover .al-icon svg,
.button.success:focus .al-icon svg {
  fill: #fefefe;
}

.button.link {
  background: none;
  color: #1779ba;
  box-shadow: none;
}

.button.link .al-icon svg {
  fill: #1779ba;
}

.button.link:hover, .button.link:focus {
  background: #efefef;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: top;
  padding: 30px;
}

.modal-close-button {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
}

.modal-container {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.modal-header h3 {
  margin: 0;
}

.modal-header .ashlee-icon {
  position: relative;
  top: 5px;
}

.modal-header .ashlee-icon svg {
  width: 36px;
  height: 36px;
}

.modal-container.alert .modal-header {
  border-left: 10px solid #cc4b37;
  border-bottom: 0;
  background-color: rgba(204, 75, 55, 0.2);
}

.modal-container.alert .modal-header .ashlee-icon svg {
  fill: #cc4b37;
}

.modal-container.alert .modal-header h3 {
  color: #cc4b37;
}

.modal-container.success .modal-header {
  border-left: 10px solid #92BE40;
  border-bottom: 0;
  background-color: rgba(146, 190, 64, 0.2);
}

.modal-container.success .modal-header .ashlee-icon svg {
  fill: #92BE40;
}

.modal-container.success .modal-header h3 {
  color: #92BE40;
}

.modal-body {
  padding: 15px;
  margin: 15px 0;
}

.modal-footer {
  padding: 15px;
}

.modal-footer .button-group {
  margin: 0;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.snackbar-wrapper {
  z-index: 1000;
  position: fixed;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.snackbar-container {
  margin: 0 auto;
  border-radius: 3px;
  height: 70px;
  width: 100%;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.snackbar-message {
  color: #fefefe;
  font-size: 16px;
}

.snackbar-message .ashlee-icon {
  position: relative;
  top: 5px;
}

.snackbar-container.success .snackbar-message {
  color: #92BE40;
}

.snackbar-container.success .snackbar-message svg {
  fill: #92BE40;
}

.snackbar-container.warning .snackbar-message {
  color: #ffae00;
}

.snackbar-container.warning .snackbar-message svg {
  fill: #ffae00;
}

.snackbar-container.alert .snackbar-message {
  color: #cc4b37;
}

.snackbar-container.alert .snackbar-message svg {
  fill: #cc4b37;
}

.snackbar-enter {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.snackbar-leave-active {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.snackbar-enter .snackbar-container,
.snackbar-leave-active .snackbar-container {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.al-icon {
  display: inline-block;
}

.al-icon svg {
  width: 24px;
  height: 24px;
  display: block;
}

.button.has-icon {
  position: relative;
  padding-left: 40px;
}

.button.has-icon .al-icon {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  position: absolute;
  left: 10px;
  top: calc(50% - 10px);
}

.button.has-icon .al-icon svg {
  width: 20px;
  height: 20px;
  fill: #fefefe;
}

.button.has-icon.link .al-icon svg {
  fill: #1779ba;
}

.button.has-icon.primary .al-icon svg {
  fill: #fefefe;
}

.button.has-icon.secondary .al-icon svg {
  fill: #fefefe;
}

.button.has-icon.success .al-icon svg {
  fill: white;
}

.button.has-icon.loader .al-icon {
  -webkit-animation: loaderWait 600ms infinite alternate;
          animation: loaderWait 600ms infinite alternate;
}

.button.has-icon.loader.loading .al-icon {
  -webkit-animation: loading 400ms linear infinite;
          animation: loading 400ms linear infinite;
}

.al-icon.loading {
  -webkit-animation: loading 400ms linear infinite;
          animation: loading 400ms linear infinite;
}

.loading-icon {
  text-align: center;
}

a .al-icon.is-inline {
  position: relative;
  top: 4px;
}

a .al-icon.is-inline svg {
  fill: #1779ba;
}

a:hover .al-icon.is-inline svg, a:focus .al-icon.is-inline svg {
  fill: #115b8d;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loaderWait {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes loaderWait {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.al-table-container {
  position: relative;
}

.al-table-container .al-loader {
  position: absolute;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 0;
  top: 100px;
  left: calc(50% - 12.5px);
}

.al-table-container.loading .al-loader {
  opacity: 1;
}

.al-table-container.loading .al-table {
  opacity: 0.3;
}

.al-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.al-table .al-tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.al-table .al-thead,
.al-table .al-tbody,
.al-table .al-tfoot {
  display: block;
}

.al-table .al-th,
.al-table .al-td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.al-table .al-thead {
  border-top: 3px solid #272727;
}

.al-table .al-tbody {
  min-height: 300px;
  border-top: 3px solid #272727;
  border-bottom: 3px solid #272727;
}

.al-table .al-tbody .al-tr {
  border-bottom: 1px solid #efefef;
}

.al-table .al-td-action {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
  overflow: visible;
}

.al-table .al-td-preview {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
}

.al-table input {
  margin: 0;
}

.al-table .al-table-empty {
  background: #efefef;
  color: gray;
  padding: 10px;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.al-table .al-th a {
  color: #0a0a0a;
}

.al-table .al-th a:hover {
  text-decoration: underline;
}

.al-table .al-th.is-sorting a {
  font-weight: 700;
  position: relative;
}

.al-table .al-th.is-sorting a:after {
  display: block;
  position: absolute;
  top: 4px;
  right: -15px;
  font-size: 12px;
}

.al-table .al-th.is-sorting.is-sorting-asc a:after {
  content: "\25B2";
}

.al-table .al-th.is-sorting.is-sorting-desc a:after {
  content: "\25BC";
}

.al-input {
  width: 100%;
  position: relative;
}

.al-input .al-icon {
  position: absolute;
  left: 10px;
  top: 8px;
}

.al-input .al-icon svg {
  fill: white;
}

.al-input.has-icon input {
  padding-left: 40px;
}

.al-input.has-icon input:focus + .al-icon svg {
  fill: black;
}

.al-input-group {
  margin-bottom: 10px;
}

.al-input-group.is-required label:after {
  content: " *";
  color: red;
}

.al-input-group.is-title input {
  font-weight: 700;
}

.al-input-label {
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.al-input-label-full {
  width: 100%;
  display: block;
  text-align: center;
  background: #efefef;
  padding: 4px 8px;
  margin-bottom: 10px;
}

.al-input-field {
  width: 100%;
  padding: 0;
}

.al-input-field input {
  margin: 0;
}

.al-form__actions {
  text-align: right;
}

.al-input-component-slot {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}

.has-header-size {
  height: 70px;
}

.al-layout__main {
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.al-layout__header {
  background: #C94343;
}

.al-layout__header > div {
  padding: 10px;
  border-right: 1px solid #d46b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.al-layout__sidebar {
  background: #4D4D4D;
  height: calc(100vh - 70px);
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.al-layout__sidebar-header {
  padding: 15px 0px;
  background: #342F2F;
}

.al-layout__body {
  width: 100%;
}

.al-layout__body-header {
  position: relative;
  padding: 0 15px;
  background: white;
  z-index: 2;
  border-bottom: 1px solid #cacaca;
}

.al-layout__page-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 140px);
}

.al-layout__page {
  padding: 15px;
  z-index: 1;
}

.al-layout__page-actions {
  margin: 0;
}

.al-layout__title {
  padding-left: 10px;
}

.al-layout__page-title, .al-layout__breadcrumbs {
  display: inline-block;
}

.al-layout__breadcrumbs .al-icon {
  position: relative;
  top: 5px;
  margin-left: 10px;
}

.al-layout__breadcrumbs .al-icon svg {
  fill: gray;
}

.al-page-title h2 {
  display: inline-block;
  margin: 0;
  font-size: 1.4em;
}

.al-page-title .al-icon {
  display: inline-block;
  position: relative;
  top: 2px;
}

.al-breadcrumb {
  display: inline-block;
  padding-left: 10px;
}

.al-breadcrumb input, .al-breadcrumb input:focus {
  border: 0;
  box-shadow: none;
  border-bottom: 1px dotted #b3b3b3;
}

.al-breadcrumb input {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-size: 1.5em;
}

.al-breadcrumb input:focus {
  border-color: #0a0a0a;
  border-style: solid;
}

.al-page-action {
  margin: 0;
  height: 40px;
  line-height: 12px;
}

.al-page-action span {
  position: relative;
}

.al-header__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.al-header__logo img {
  height: 40px;
}

.al-header__search {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

.al-header__user {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.al-header__help {
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.al-header__help .al-icon svg {
  fill: white;
}

.al-header__help > a {
  height: 24px;
}

.al-currentuser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.al-currentuser__info {
  padding: 15px;
}

.al-currentuser__info a {
  color: white;
  display: block;
  text-align: right;
  font-size: 14px;
}

.al-currentuser__image {
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.al-currentuser__image:hover, .al-currentuser__image:focus {
  border: 1px solid white;
}

.al-currentuser__image img {
  border-radius: 50%;
  height: 50px;
}

.al-currentuser__logout {
  margin-left: 10px;
  height: 24px;
}

.al-currentuser__logout .al-icon {
  position: relative;
}

.al-currentuser__logout .al-icon svg {
  fill: #da7e7e;
}

.al-app__search-input {
  margin: 0;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}

.al-loading-screen {
  opacity: 1;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.al-loading-screen p {
  text-align: center;
  color: gray;
  margin-top: 15px;
}

.al-loading-screen-icon {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

.app-loaded-enter-active, .app-loaded-leave-active {
  -webkit-transition: opacity 700ms;
  transition: opacity 700ms;
}

.al-app-loaded.app-loaded-enter {
  opacity: 0;
}

.al-app-loaded.app-loaded-leave {
  opacity: 1;
}

.al-loading-screen.app-loaded-enter {
  opacity: 1;
}

.al-loading-screen.app-loaded-leave {
  opacity: 0;
}

.al-nav__group {
  border-bottom: 1px solid #676767;
}

.al-nav__group-title {
  color: #95989A;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 10px 5px;
  margin-bottom: 5px;
}

.al-nav__backwards {
  position: absolute;
  display: block;
  left: -15px;
  top: 18px;
  width: 30px;
  height: 30px;
  background: white;
  text-align: center;
  border-radius: 50%;
}

.al-nav__backwards .al-icon {
  position: relative;
  top: 3px;
}

.al-nav__backwards .al-icon svg {
  fill: gray;
}

.al-nav__link {
  position: relative;
  padding: 2px 10px;
  display: block;
  width: 100%;
  color: #8d8d8d;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.al-nav__link:hover, .al-nav__link:focus {
  color: #b1b1b1;
}

.al-nav__link:hover .al-icon svg, .al-nav__link:focus .al-icon svg {
  fill: #7bc1ef;
}

.al-nav__link .al-icon {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.al-nav__link .al-icon svg {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  fill: #9a9a9a;
  height: 20px;
  width: 20px;
}

.al-nav__link.router-link-active {
  color: white;
  background: gray;
}

.al-nav__link.router-link-active .al-icon svg {
  fill: white;
}

.al-nav__link.router-link-active:after {
  content: "";
  z-index: 5;
  right: -10px;
  top: 5px;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gray;
}

.al-layout__sidebar-header .al-nav__link.router-link-active {
  color: white;
  background: none;
}

.al-layout__sidebar-header .al-nav__link.router-link-active .al-icon svg {
  fill: white;
}

.al-layout__sidebar-header .al-nav__link.router-link-active:after {
  display: none;
}

.has-card-shadow {
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.al-dropdown {
  position: relative;
}

.al-dropdown__container {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 120px;
  max-width: 300px;
  z-index: 5;
  list-style: none;
  margin: 0;
  background: white;
  border: 1px solid lightgray;
}

.al-dropdown__container > a, .al-dropdown__container > div {
  color: #0a0a0a;
  width: 100%;
  display: block;
  padding: 3px 8px;
  border-bottom: 1px solid lightgray;
}

.al-dropdown__container > a .al-icon {
  position: relative;
  top: 4px;
}

.al-dropdown__container > a:hover, .al-dropdown__container > a:focus {
  background: #efefef;
}

.al-dropdown__container > a.is-danger {
  color: #cc4b37;
}

.al-dropdown__container > a.is-danger .al-icon svg {
  fill: #cc4b37;
}

.al-color-swatch {
  display: block;
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=main.css.map*/