$button-icon-size: map-get($button-sizes,default) !default;

.al-icon {
	display:inline-block;
	svg {
		width:24px;
		height:24px;
		display:block;
	}
}

.button.has-icon {
	position:relative;
	padding-left:40px;
	.al-icon {
		transition:all 500ms;
		position:absolute;
		left:10px;
		top:calc(50% - 10px);
	}
	.al-icon svg {
		width:20px;
		height:20px;
		fill:color-pick-contrast(get-color(primary));
	}
	&.link {
		.al-icon svg {
			fill:$primary-color;
		}
	}
	&.primary .al-icon svg {
		fill:color-pick-contrast(get-color(primary));
	}
	&.secondary .al-icon svg {
		fill:color-pick-contrast(get-color(secondary));
	}
	&.success .al-icon svg {
		fill:white;
	}

	&.loader {
		.al-icon {
			animation:loaderWait 600ms infinite alternate;
		}
		&.loading .al-icon {
			animation:loading 400ms linear infinite;
		}
	}
}

.al-icon.loading {
	animation:loading 400ms linear infinite;
}

.loading-icon {
	text-align:center;
}

a {
	.al-icon.is-inline {
		position:relative;
		top:4px;
		svg {fill:$primary-color;}
	}
	&:hover, &:focus {
		.al-icon.is-inline svg {fill:darken($primary-color,10%)}
	}
}

@keyframes loading
{
	0% {transform:rotate(0deg)}
	100% {transform:rotate(360deg)}
}

@keyframes loaderWait
{
	0% {transform:scale(1);}
	100% {transform:scale(1.4);}

}