.al-input {
	width:100%;
	position:relative;
	.al-icon {
		position:absolute;
		left:10px;
		top:8px;
		svg {fill:white;}
	}
}
.al-input.has-icon {
	input {padding-left: 40px;}
	input:focus + .al-icon {
		svg {fill:black;}
	}
}