.is-line-input {
	border-radius:0;
	box-shadow:none;
	border:none;
	border-bottom:1px solid #cacaca;
	&:focus {
		border:none;
		border-bottom:1px solid #535353;
		box-shadow:none;
	}
}

.al-input {
	width:100%;
	position:relative;
	.al-icon {
		position:absolute;
		left:10px;
		top:8px;
		svg {fill:white;}
	}
}
.al-input.has-icon {
	input {padding-left: 40px;}
	input:focus + .al-icon {
		svg {fill:black;}
	}
}

.al-input-group {
	margin-bottom: 10px;

	&.is-required {
		label:after {
			content:" *";
			color:red;
		}
	}
	&.is-title {
		input{font-weight:700;}
	}
}
.al-input-label {
	padding:0;
	flex:0 0 140px;
}
.al-input-label-full {
	width:100%;
	display:block;
	text-align:center;
	background:#efefef;
	padding:4px 8px;
	margin-bottom:10px;
}
.al-input-field {
	width:100%;
	padding:0;
	input {margin:0;}
}

.al-form__actions {
	text-align:right;
}

.al-input-component-slot {
	padding:10px;
	border-bottom: 1px solid #efefef;
}


.al-component-slot__name {
	input {
		font-weight:700;
	}
}

.al-color-swatch {
	display:block;
	border-radius: 50%;
	width:30px; height:30px;
}