.al-input {
	width:100%;
	position:relative;
	.al-icon {
		position:absolute;
		left:10px;
		top:8px;
		svg {fill:white;}
	}
}
.al-input.has-icon {
	input {padding-left: 40px;}
	input:focus + .al-icon {
		svg {fill:black;}
	}
}

.al-input-group {
	display:flex;
	margin-bottom: 10px;

	&.is-required {
		label:after {
			content:" *";
			color:red;
		}
	}
	&.is-title {
		input{font-weight:700;}
	}
}
.al-input-label {
	flex-basis: 120px;
	flex-shrink:0;
}
.al-input-field {
	width:100%;
	input {margin:0;}
}

.al-form__actions {
	text-align:right;
}