$loader-speed: 1200ms !default;
$loader-size: 50px !default;

.ashlee-loader {
	margin: auto;
	display: block;
	width: $loader-size;
	.ashlee-loader-inner {
		width: $loader-size;
		height: $loader-size;
		border-radius: 50%;
		display: block;
		position: relative;
		margin:auto;

		&:before, &:after {
			content:"";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.ashlee-loader-inner,
	.ashlee-loader-inner:before,
	.ashlee-loader-inner:after {
		animation: $loader-speed infinite ease-in-out;
	}
	.ashlee-loader-inner {
		background-color: transparent;
		animation: loader-animation $loader-speed/2 infinite linear;
	}
	.ashlee-loader-inner:before {
		width: 80%;
		height: 80%;
		background-color: transparent;
		top: 10%;
		left: 10%;
		box-shadow: 5px -3px 0 rgba(255,100,100,0.7),
		5px 5px 0 rgba(100,255,100,0.7),
		-3px 5px 0 rgba(100,100,255,0.7),
		-5px -5px 0 rgba(240,240,120,0.7);
	}
	.ashlee-loader-inner:after {
		border: 3px solid transparent;
		z-index: 2;
		top: -3px;
		left: -3px;
	}
}

@keyframes loader-animation {
	0%	 { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}