$table-body-border: 1px solid #efefef;
$table-head-border: 3px solid #272727;
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

@mixin table-components()
{
	display: flex;
	flex-direction: column;
	opacity:1;
	transform: translateY(0px);

	.al-tr {
		display:flex;
		flex-flow:row nowrap;
		align-content:stretch;
	}
	.al-thead,
	.al-tbody,
	.al-tfoot {
		display:block;
	}
	.al-th,
	.al-td {
		display:flex;
		flex-grow:1;
		align-items:center;
		width:100%;
		padding:8px 10px;
		text-overflow:ellipsis;
		overflow:hidden;
	}
	.al-thead {
		border-top:$table-head-border;
	}
	.al-tbody {
		min-height:300px;
		border-top:$table-head-border;
		border-bottom:$table-head-border;
		.al-tr {
			border-bottom:$table-body-border;
		}
	}
	.al-td-action {
		flex-shrink:0;
		flex-basis:45px;
		overflow:visible;
	}
}

// Loading animation
.al-table-container {
	position:relative;
	.al-loader {
		position:absolute;
		transition:opacity 200ms;
		opacity:0;
		top:100px;
		left:calc(50% - #{$loader-size/4});
	}
	&.loading {
		.al-loader {
			opacity:1;
		}
		.al-table {
			opacity:0.3;
		}
	}
}

.al-table
{
	@include table-components();

	input {margin:0}

	.al-table-empty {
		background:#efefef;
		color:gray;
		padding:10px; margin:15px;
		justify-content: center;
	}
	.al-th a {
		color:$black;
		&:hover {
			text-decoration:underline;
		}
	}

	.al-th.is-sorting {
		a {
			font-weight:700;
			position:relative;
		}
		a:after {
			display:block;
			position:absolute;
			top:4px;
			right:-15px;
			font-size:12px;
		}
		&.is-sorting-asc {
			a:after {
				content:"\25B2";
			}
		}
		&.is-sorting-desc {
			a:after {
				content:"\25BC";
			}
		}
	}
}