@import 'variables';
@import 'button';
@import 'modal';
@import 'snackbar';
@import 'icon';
@import 'table';
@import 'input';
@import 'layout';
@import 'nav';



.has-card-shadow {
	background:white;
	border-radius:$global-radius;
	box-shadow:1px 1px 2px rgba(black,0.4);
}