@import 'variables';
@import 'modal';
@import 'snackbar';
@import 'icon';

$table-body-border: 1px solid #efefef;
$table-head-border: 3px solid #272727;

@mixin table-components($ns:"table")
{
	display: flex;
	flex-direction: column;

	.#{$ns} {
		&-tr {
			display:flex;
			flex-flow:row nowrap;
			align-content:stretch;
		}
		&-thead, &-tbody, &.tfoot {
			display:block;
		}
		&-th, &-td {
			display:block;
			width:100%;
			padding:8px 10px;
		}
		&-tbody .#{$ns}-tr {
			border-bottom:$table-body-border;
		}
		&-thead .#{$ns}-tr {
			border-bottom:$table-head-border;
		}
		&-th[data-col="bulk"],
		&-td[data-col="bulk"],
		&-th[data-col="opts"],
		&-td[data-col="opts"]
		{
			flex-basis:100px;
		}
	}
}

.ashlee-table
{
	@include table-components(ashlee);

	input {margin:0}
	.callout {
		padding:10px; margin:0;
	}
}